<body style="height: 100%">
    <section class="hero layer69">


        <!-- <div class="container">
            <h1>Showcase your skills with <span class="primary-color">code</span>, then connect with top companies</h1>
            <h2>Hatchr is the platform for finding your next software engineering job. Forget 
                We focus on what actually matters for software engineering - your ability to build things with code.</h2>
        </div> -->

        <div class="container">
            <h1>Access to South Africa's <span class="primary-color">top developers</span>.</h1>

            <h2>Drastically reduce time to hire and skip the CV screening stage.</h2>
            <h2>Developers have been screened based on their skill, not their background.</h2>
            <h2>Hatchr connects you to candidates with the most relevant skills to your hiring needs.</h2>
        </div>


        <div class="button-box">
            <button>Get in touch</button>
            <input type="text" id="email" name="email" placeholder="Enter your email">
        </div>


        <section class="footer">
            <div>

            </div>
        </section>

    </section>
</body>