<nav>
    <div class="inner-header">
        <div class="logo-box">
            <a href="#" id="logo"><img src="hatchr-logo-white.svg" alt="logo" height="40px"/></a>
        </div>

        <ul>
            <li><a href="/#">For developers</a></li>
            <li><a href="/companies">For companies</a></li>
            <li><a href="/assessments/instructions">Coding tasks</a></li>
            <li><a href="/auth/login">login</a></li>
            <li><a href="/auth/signup">signup</a></li>
        </ul>
    </div>
</nav>