<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <section class="hero layer1">

        <div class="container">
            <h1>Software engineering interviews are <span class="primary-color">broken</span>. Hatchr is fixing the
                process.</h1>
            <h2>Hatchr is the platform for you to find your next software engineering job.
                Forget studying for coding whiteboards, memorising obscure algorithms questions and bragging about what
                university you went to.
                We focus on what actually matters for software engineering - your ability to build things with code.
            </h2>
        </div>

        <div class="button-box">
            <button (click)="goToAssessments()">Get started</button>
            <button (click)="goToAssessments()" class="secondary-button">See coding tasks</button>
        </div>

    </section>

    <section class="feature-walkthrough-2">

        <div class="text-block">
            <!-- <img src="./icons/code.svg" alt="assess" /> -->

            <h1>Complete a coding task to join top developers</h1>

            <p>Pick up one of our coding tasks to showcase your skills and become a member of our professional network
                of software developers.
                Our assessments aren't meant to trick you or catch you out. We want to see you doing your best work with
                the languages and tools you're most comfortable.</p>
        </div>



        <div class="text-block">
            <!-- <img src="./icons/report.svg" alt="assess" /> -->

            <h1>Let your skills do the talking</h1>

            <p>Hatchr shifts the focus away from prestigious credentials, background or personal branding, and onto what
                really matters: your technical skills.
            </p>
        </div>


        <div class="text-block">
            <!-- <img src="./icons//chat.svg" alt="assess" /> -->

            <h1>Speak directly to companies</h1>

            <p>We help developers find jobs at awesome companies. Companies contact you directly, no dealing with
                third-party recruiters
                (who don't even know the difference between Java and JavaScript 🤮)</p>
        </div>

        <div class="text-block">
            <!-- <img src="./icons/electric.svg" alt="assess" /> -->

            <h1>Streamline your job search</h1>

            <p>Stop sending your resume to different job boards and wondering if you'll hear back.
                Hatchr allows you to conduct your job search on one platform, and connects you with companies that are
                specifically interested in the skills you've demonstrated. </p>
        </div>


    </section>

    <section class="faq-section">
        <h1>Frequently asked questions</h1>

        <h2>How does it work?</h2>
        <p>Taking one of our coding tasks gets you into the Hatchr platform. We review your submission and connect you
            with companies that are looking for developers that match your skills. 
        </p>
        <p>If we believe your skills aren't at hatchr level then we provide you with actionable feedback for what we
            believe you should work on.
            There's no trick to passing hatchr assessments, the way to prepare is to improve your coding ability.
        </p>


        <p>Hit "get started" for instructions on completing and submitting one of our coding tasks.</p>

        <h2>How much does it cost?</h2>
        <p>Hatchr’s process is free for software developers.</p>
        <p>Companies pay us because we improve their hiring process.</p>

        <h2>When should I pick up the coding task?</h2>
        <p>You can take a coding task any time, you don’t even have to be actively looking for a job yet. Once you’ve
            submitted the code we’ll reach out to you and find out a bit more about your current status.</p>

        <h2>Why hatchr? 🐣</h2>
        <p>We save you time. By fast tracking you to the final stage of interviews with each company you don’t have to
            go through applications, cover letters and tech screens with each company individually.</p>
        <p>We have a network of great companies that we will match you with based on your specific skillset and their
            requirements.</p>
        <p>Companies trust our ability to technically assess candidates and find talent that other recruiters can’t. If
            you’re self taught, or have a nontraditional software development background, we provide you with an
            opportunity to showcase your skills!</p>
    </section>

    <section class="cta">
        <h1>Ready to find your next software engineering job?</h1>
        <button>Get started</button>
    </section>

</body>

</html>